<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing batch step</h1>

  <%= render "form", batch_step: @batch_step %>

  <%= link_to "Show this batch step", @batch_step, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to batch steps", batch_steps_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
